{% block content %}
    <div class="rw-container rw-section">
        <div class="rw-inner clearfix">

            <!-- Main content -->
            <div class="rw-column rw-content">

                <div class="rw-row">
                    <div class="block404">
                        <div class="grid-container">
                            <div class="grid desk-6">
                                <h1 class="error">403</h1>
                            </div>
                            <div class="grid desk-6">
                                <h1 class="title">Acces refusé</h1>
                                <p class="description">
                                    Vous ne pouvez pas acceder à cette page .
                                </p>
                            </div>
                        </div>
                    </div>
                </div> <!-- .rw-row -->

            </div> <!-- .rw-content -->

        </div> <!-- .rw-inner -->
    </div> <!-- .rw-container -->
{% endblock %}