.map__image
{
	width: 100%;
	float: left;
}

.map__image path{
	fill: #f3482f;
	stroke: #FFF;
	stroke-width: 1px;
	transition: fill 0.3s;
}

.map__image .is-active path{
	fill: #58bde7;
}

.map__list{
	float: right;
	width: 100%;
}

.map__list a {
	color: inherit;
	text-decoration: none;
	transition: color 0.3s;
}

.map__list a.is-active {
	color: #58bde7;
	font-weight: bold;
	text-decoration: underline;
}

.panel-body  {
	word-break:break-all;
}

.profile-recipes-list .recipe{
	border-bottom: none;
}

#photo-top5{
	width: 350px;
	height: 216px;
}
#photoRegion{
	width: 560px;
	height: 380px;
}
#photo-index
{
	width:51px;
	height:40px;
}
#image_filtre
{
	width:80px;
	height:80px;
}