{% extends "layout.html.twig" %}

{% block title 'Creation Recette' %}

{%  block content %}
    <h1>Toutes les recettes</h1>

    <p><a href="{{ path('recipe_create') }}">Nouvelle Recette</a></p>
    {% include 'recipe.html.twig' %}
{% endblock %}