<div class="grid desk-6">
    <div class="footer-totals clearfix">

        <div class="total red clearfix">
            <a href="{{ path('recipe_list') }}">
                <span class="mark value">{{ recipesCount }}</span>
                <span class="type">Recettes</span>
            </a>
        </div>

        <div class="total green clearfix">
            <a href="#">
                <span class="mark value">{{ usersCount }}</span>
                <span class="type">Membres</span>
            </a>
        </div>
    </div>
</div>