{% extends "layout.html.twig" %}

{% block content %}
        <table>
                <tr>
                <th>region</th>
                </tr>
                <tr>
            {% for region in regions %}
                    <td><a href="{{  path('region_index', {id_region: region.id_region }) }}">{{ region.region_name }}</a></td>
            {% endfor %}
                </tr>
        </table>
{% endblock %}
